
.sub-details-content-page3{
    margin-top: 40px;
    background-color: rgb(212, 252, 252);
    background-image: url("../asset/images/p2s.svg") ;
    background-repeat: no-repeat;
    background-size:auto;
    border-radius: 15px;
    width: 970px;
    height:400px ;
    border-radius: 5px;
    margin-left: 200px;
    margin-right:200px;
}
.content-page3 h1{
    margin-left:550px;
    padding-top:50px;

}
.content1{
    height:300px;
    width:250px;
    background-color: snow;
    border-radius: 15px;
    margin-left:550px;

}
.content1 h5{
    padding:10px;
    font-size: 16px;


}
.content1 p{
    padding-left: 10px;
    line-height: 20px;
}