
.sub-details-content-page3{
    margin-top: 40px;
    background-color: rgb(212, 252, 252);
    background-image: url("../asset/images/p2s.svg") ;
    background-repeat: no-repeat;
    background-size:auto;
    border-radius: 15px;
    width: 1000px;
    height:600px ;
    border-radius: 5px;
    margin-left: 200px;
    margin-right:200px;
}
.content-page3{
    margin-top: 200px;
}
.content-page3 h1{
    margin-left:550px;
    padding-top:50px;

}
.content1{
    height:300px;
    width:250px;
    background-color: rgb(241, 214, 214);
    border-radius: 15px;
    margin-left:550px;

}
.content1 h5{
    padding:10px;
    font-size: 16px;


}
.content1 p{
    padding-left: 10px;
    line-height: 20px;
}


@media screen and (max-width: 769px){


    .sub-details-content-page3{
        margin-top: 40px;
        background-color: rgb(248, 227, 241);
        background-image: url("../asset/images/p2s.svg") ;
        background-repeat: no-repeat;
        background-size:contain;
        border-radius: 15px;
        width: 400px;
        height:600px ;
        border-radius: 5px;
        margin-left: 100px;
        margin-right:auto;
    }
    .content-page3 h1{
        margin-left:12px;
        padding-top:50px;
    
    }
    .content1{
        height:300px;
        width:250px;
        background-color: rgb(218, 204, 204);
        border-radius: 15px;
        margin-left:12px;
    
    }
    .content1 h5{
        padding:10px;
        /* font-size: 12px; */
    
    
    }
    .content1 p{
        padding-left: 10px;
        line-height: 20px;
    }

}

