.aboutme-container{
    height: 400px;
    width:900px;
    background-color:transparent;
    padding-left: 40px;
    margin-left: 200px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
}