.footer-container{
    background-color:transparent;
    display:  flex;
    position: relative;
    justify-content:space-around;

    height: 100px;
    width: 100%;
    margin-bottom: 0px;
}
.footer-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    padding-left: 2px;
    margin-left: 2px;
}
.footer-nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;    

}
.footer-social-items{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content:space-around;
    font-size: 1rem;
    font-style: bold;
    

}
.footer-nav-items{
    list-style: none;
    display: flex;


}
.footer-nav-items li{
    margin-left:1rem;
    cursor: pointer;
}
.footer-nav-items li:hover{
    color:grey;
}

@media screen and (max-width: 769px){
    .footer-logo-container{
        display: none;

    }
    .footer-container{
        width:auto;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-nav-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1rem;    
    
    }
    .footer-nav-items li{
        margin-left:0rem;
        cursor: pointer;
    }
    .footer-social-items{
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: flex-start;

        font-size: 1rem;
    
    }
    .footer-nav-items{
        list-style: none;
        display: flex;
        flex-direction: column;
    
    
    }
    
}