.header-container{
    background-color:transparent;
    display:  flex;
    position: relative;
    justify-content:space-around;
    padding-top: 10px;

    height: 100px;
    width: 100%;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    padding-left: 2px;
    margin-left: 2px;
    padding-top: 15px;
    cursor: pointer;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;    

}
.nav-container-right{
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;    

}
.nav-items{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content:space-around;
    font-size: 1rem;
    font-style: bold;
    

}
.nav-items-right{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content:space-evenly;
  font-size: 1rem;
  font-style: bold;
  margin-top: 0;
  padding-top: 15px;

}
.nav-items-right li{
  margin-left: 1rem;
  cursor: pointer;
  margin-top: 5px;

}

li{
    margin-left: 3rem;
    cursor: pointer!important;
}

.btn-signup{
    height: 35px;
    width: 80px;
    margin-left: 1rem;
    margin-right: 30px;
    margin-bottom: 4px;

    background-color: black;
    color: white;
    padding:1px;   
    border-radius: 25px;    
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.btn-signup :hover{
  background-color:black;
}
#mobile {
    display: none;
  }
  
  #mobile i {
    color: #fff;
    align-items: center;
  }

.mobile-container{
  display: none;
}
    
  
  
  @media screen and (max-width: 769px){
  .header-container{
    margin-left: 0px;
  }
  .nav-container{
    display: none;
  }
  #mobile {
    display: block;
    margin-top: 25px;
    cursor: pointer;
  }
  .mobile-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 200px;
    height: 200px;
    font-size: 12px;
    margin-top: 24px;
    margin-right: 0px;
    margin-left: -318px;
    justify-content: space-around;
    border-radius: 12px;
    background: transparent;
    padding-right: 0px;
    cursor:pointer;

}

.mobile-container .nav-items{
display: flex;
flex-direction: column;
justify-content: space-around;
font-size: 16px;
margin-left: 2px;
padding: 5px;
}
.mobile-container .nav-items li{
padding-bottom: 4px;
}


  }